<div class="hero min-h-screen" style="background-image: url(https://images.unsplash.com/photo-1561043433-aaf687c4cf04?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="hero-overlay bg-opacity-40"></div>
  <div class="hero-content text-center text-neutral-content">
      <div class="card w-full lg:w-2/3 glass">
        <div class="card-body">
          <h2 class="card-title text-3xl text-neutral">Your recipes any time</h2>
          <p class="text-xl">Preserve your most beloved family recipes with our app. Save your grandma's famous apple pie, the cherished dessert from your childhood, and many more delightful dishes.</p>
          <div class="card-actions justify-end">
            <button routerLink="/recipes" class="btn btn-neutral btn-lg">Start now!</button>
        </div>
      </div>
    </div>
  </div>
</div>


